/* Google Font */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#181818;
color:#fff;
display:flex;
}

/* Sidebar */

.sidebar{

width:260px;
height:100vh;
background:#232323;
padding:25px 20px;
position:fixed;
left:0;
top:0;

}

.logo{

display:flex;
align-items:center;
font-size:24px;
font-weight:600;
margin-bottom:50px;
gap:15px;

}

.logo i{

background:#5b5ce9;
padding:15px;
border-radius:12px;

}

.sidebar ul{

list-style:none;

}

.sidebar ul li{

padding:16px 18px;
margin-bottom:10px;
border-radius:10px;
cursor:pointer;
display:flex;
align-items:center;
gap:15px;
transition:.3s;

}

.sidebar ul li:hover{

background:#303030;

}

.sidebar ul li.active{

background:#4f46e5;

}

.sidebar ul li i{

width:25px;

}

/* Main */

.main{

margin-left:260px;
width:calc(100% - 260px);
padding:30px;

}

/* Navbar */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:35px;

}

.profile{

display:flex;
align-items:center;
gap:20px;

}

.profile i{

font-size:22px;
cursor:pointer;

}

.avatar{

width:45px;
height:45px;
background:#5b5ce9;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;

}

/* Welcome */

.welcome h1{

font-size:34px;
margin-bottom:8px;

}

.welcome p{

color:#999;
margin-bottom:35px;

}

/* Cards */

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;

}

.card{

background:#242424;
padding:25px;
border-radius:18px;
transition:.3s;
position:relative;

}

.card:hover{

transform:translateY(-6px);

}

.card h3{

color:#bdbdbd;
font-weight:500;
margin-top:15px;

}

.card h2{

font-size:38px;
margin:10px 0;

}

.green{

color:#22c55e;

}

.red-text{

color:#ff4d4d;

}

/* Icons */

.icon{

width:60px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
border-radius:15px;
font-size:24px;

}

.blue{

background:#2d4fff;

}

.green{

background:#16a34a;

}

.purple{

background:#7e22ce;

}

.red{

background:#dc2626;

}

/* Bottom */

.bottom{

display:grid;
grid-template-columns:2fr 1fr;
gap:25px;
margin-top:40px;

}

/* Chart */

.chart-box{

background:#242424;
padding:25px;
border-radius:18px;

}

.chart-box canvas{

margin-top:20px;

}

/* Activity */

.activity{

background:#242424;
padding:25px;
border-radius:18px;

}

.title{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;

}

.activity-item{

display:flex;
align-items:flex-start;
gap:15px;
margin-bottom:25px;

}

.activity-item i{

width:45px;
height:45px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
background:#4f46e5;

}

.activity-item h4{

font-size:16px;
margin-bottom:5px;

}

.activity-item p{

color:#999;
font-size:14px;

}

/* Scroll */

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#555;
border-radius:20px;

}

/* Responsive */

@media(max-width:1200px){

.cards{

grid-template-columns:repeat(2,1fr);

}

.bottom{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.sidebar{

width:80px;

}

.sidebar span{

display:none;

}

.main{

margin-left:80px;
width:calc(100% - 80px);

}

.cards{

grid-template-columns:1fr;

}

.welcome h1{

font-size:26px;

}

}